<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @document.attachment %>
</p>

<p>
  <strong>Dashboard:</strong>
  <%= @document.dashboard_id %>
</p>

<p>
  <strong>Dashboard:</strong>
  <%= @document.dashboard %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
