<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dashboard.title %>
</p>


<div class ="calendar">
  <p>This space is reserved for linking to the calendar.</p>

</div>






<div class ="news_feed">
  <%= link_to 'New Event', new_news_feed_path(id: @dashboard.id) %>
  <br>
  <br>






  <% @dashboard.news_feeds.each do |nf| %>
  <table>
    <thead><strong><%= link_to((nf.title), news_feeds_path) %></strong></thead>
    <tr>
      <td><%= nf.created_at.strftime("%B %d, %Y") %></td>
      <td class = "table_news_body"><%= nf.body %></td>
    </tr>
</table>
<br>
  <% end %>




</div>







<div class ="upload">
  <p>This space is reserved for linking to uploads.</p>
  <%= form_tag uploads_path, enctype: 'multipart/form-data' do %>
      <%= file_field_tag :file  %>
      <%= hidden_field_tag 'dashboard_id', @dashboard.id  %>
      <%= submit_tag 'Upload file' %>

  <% end %>


</div>




<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
