<div ="upload" class>
  <%= image_tag ("document-square.png") %>
  <p>Documents</p>
  <%= form_tag dashboard_path, enctype: 'multipart/form-data' do %>
  <%= file_field_tag :file  %>
  <%= hidden_field_tag 'dashboard_id', @dashboard.id  %>
  <%= submit_tag 'Upload file' %>

  <% end %>

</div>



<h1>All uploads</h1>
<% @dashboards.uploads.each do |upload| %>
    <div>
        <%= link_to upload.name, upload.url %>
    </div>
<% end %>
