<!DOCTYPE html>
<html>
<head>
  <title><%= t(:site_title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# The link below is for the font awesome icons utilized throughout - MT %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<!-- Random body class added to apply the full image in background! -->

<body class="full_image">

  <%= yield %>

</body>
</html>
